<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu Dropdown</title>
    <link
      rel="stylesheet"
      href="/Front-end Challenge/code/template/Style/pageAndDropdown/style.css"
    />
    <link
      rel="shortcut icon"
      href="/Front-end Challenge/assets/images/pageAndDropdown/favicon-32x32.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="main-page">
      <nav>
        <ul>
          <div class="left-menu">
            <li>
              <img
                class="logo"
                src="/Front-end Challenge/assets/images/pageAndDropdown/logo.svg"
                alt="logo"
              />
            </li>
            <li class="menu">
              Features
              <img
                src="/Front-end Challenge/assets/images/pageAndDropdown/icon-arrow-down.svg"
                alt="arrow"
              />
            </li>
            <li class="menu">
              Company<img
                src="/Front-end Challenge/assets/images/pageAndDropdown/icon-arrow-down.svg"
                alt="arrow"
              />
            </li>
            <li class="menu">Carrers</li>
            <li class="menu">About</li>
          </div>
          <div class="right-menu">
            <li><button>Login</button></li>
            <li><button class="registration">Register</button></li>
          </div>
        </ul>
      </nav>
      <div class="wrapper">
        <div class="left-section">
          <h1>Make<br>remote work</h1>
          <p>
            Get your team in sync, no matter your location. Streamline
            processes, create team rituals, and watch productivity soar.
          </p>
          <button>Learn more</button>
          <div class="footer-icons">
            <img
              src="/Front-end Challenge/assets/images/pageAndDropdown/client-databiz.svg"
              alt="Databiz"
            />
            <img
              src="/Front-end Challenge/assets/images/pageAndDropdown/client-audiophile.svg"
              alt="audiophile"
            />
            <img
              src="/Front-end Challenge/assets/images/pageAndDropdown/client-meet.svg"
              alt="meet"
            />
            <img
              src="/Front-end Challenge/assets/images/pageAndDropdown/client-maker.svg"
              alt="maker"
            />
          </div>
        </div>
        <div class="right">
          <img src="/Front-end Challenge/assets/images/pageAndDropdown/image-hero-desktop.png" alt="">
        </div>
      </div>
      <div class="feature-blog">
        <p>Todo List</p>
        <p>Calendar</p>
        <p>Reminders</p>
        <p>Todo List</p>
      </div>
    </div>
    <script src="/Front-end Challenge/code/template/JS/pageAndDropdown/function.js"></script>
  </body>
</html>
