<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="/Front-end Challenge/assets/images/pageAndDropdown/favicon-32x32.png">
  
  <title>Frontend Mentor | Intro section with dropdown navigation</title>
<link rel="stylesheet" href="/Front-end Challenge/code/template/Style/pageAndDropdown/style2.css">
</head>
<body>
<nav>
  <a href="/" class="brand">
    <img src="/Front-end Challenge/assets/images/pageAndDropdown/logo.svg" alt="Logo">
  </a>
  <a href="#" class="ham">
    <img src="/Front-end Challenge/assets/images/pageAndDropdown/icon-menu.svg" alt="Open Menu">
  </a>

  <div class="nav-ul">
    <div class="dropdown">
      <a class="dropbtn">
        Features <img src="/Front-end Challenge/assets/images/pageAndDropdown/icon-arrow-up.svg" alt="Arrow Up">
      </a>
      <div class="dropdown-content">
        <a href="#"><img src="/Front-end Challenge/assets/images/pageAndDropdown/icon-todo.svg" alt="" /> TodoList </a>
        <a href="#"><img src="/Front-end Challenge/assets/images/pageAndDropdown/icon-calendar.svg" alt="" /> Calender </a>
        <a href="#"><img src="/Front-end Challenge/assets/images/pageAndDropdown/icon-reminders.svg" alt="" /> reminders </a>
        <a href="#"><img src="/Front-end Challenge/assets/images/pageAndDropdown/icon-planning.svg" alt="" /> Planing </a>
      </div>
    </div>

    <div class="dropdown">
      <a class="dropbtn">
        Company <img src="/Front-end Challenge/assets/images/pageAndDropdown/icon-arrow-up.svg" alt="Arrow Up">
      </a>
      <div class="dropdown-content">
        <a href="#">History</a>
        <a href="#">Our Team</a>
        <a href="#">Blog</a>
      </div>
    </div>
    <a href="#">Careers</a>
    <a href="#">About</a>
  </div>
  

  <div class="nav-btns">
    <button>Login</button>
    <button>Register</button>
  </div>

  </div>
</nav>

<div class="overlay">
  <div class="mobile-nav">
    <img src="/Front-end Challenge/assets/images/pageAndDropdown/icon-close-menu.svg" id="close-Menu">
    <div class="mobile-nav-con">
      <div class="dropdown">
        <div class="dropbtn">
          Features <img src="/Front-end Challenge/assets/images/pageAndDropdown/icon-arrow-up.svg" alt="Arrow Up">
        </div>
        <div class="dropdown-content">
          <a href="#"><img src="/Front-end Challenge/assets/images/pageAndDropdown/icon-todo.svg" alt="" /> TodoList </a>
          <a href="#"><img src="/Front-end Challenge/assets/images/pageAndDropdown/icon-calendar.svg" alt="" /> Calender </a>
          <a href="#"><img src="/Front-end Challenge/assets/images/pageAndDropdown/icon-reminders.svg" alt="" /> reminders </a>
          <a href="#"><img src="/Front-end Challenge/assets/images/pageAndDropdown/icon-planning.svg" alt="" /> Planing </a>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          Company <img src="/Front-end Challenge/assets/images/pageAndDropdown/icon-arrow-up.svg" alt="Arrow Up">
        </div>
        <div class="dropdown-content">
          <a href="#">History</a>
          <a href="#">Our Team</a>
          <a href="#">Blog</a>
        </div>
      </div>
    <a href="#">Careers</a>
    <a href="#">About</a>
    </div>

  </div>
</div>
<div class="hero">
  <div class="hero-text">
    <h1>Make <br /> remote work</h1>
    <p>
      
  Get your team in sync, no matter your location. Streamline processes, 
  create team rituals, and watch productivity soar.
    </p>
    <button>Learn More</button>
    <div class="logos">
      <img src="/Front-end Challenge/assets/images/pageAndDropdown/client-audiophile.svg" alt="">
      <img src="/Front-end Challenge/assets/images/pageAndDropdown/client-databiz.svg" alt="">
      <img src="/Front-end Challenge/assets/images/pageAndDropdown/client-maker.svg" alt="">
      <img src="/Front-end Challenge/assets/images/pageAndDropdown/client-meet.svg" alt="">
    </div>
  </div>
  <div class="img-container">
    <img src="/Front-end Challenge/assets/images/pageAndDropdown/image-hero-desktop.png" id="hero-img">
  </div>
</div>
<script>
  const ham = document.querySelector('.ham')

  ham.addEventListener('click', e=>{
    document.querySelector('.mobile-nav').classList.add('show')
    document.querySelector('.overlay').style.display = 'block'
    document.querySelector('body').classList.add('lock')
  })
  document.querySelector('#close-Menu').addEventListener('click', e =>{
    document.querySelector('.mobile-nav').classList.remove('show')
    document.querySelector('.overlay').style.display = 'none'
    document.querySelector('body').classList.remove('lock')
  })
</script>
  
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Tabarin01</a>.
  </div>
</body>
</html>