@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Outfit:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.container {
  max-width: 360px;
  margin: 0 auto;
}
.card {
  background-color: hsl(0, 0%, 100%);
  padding: 18px;
  border-radius: 17px;
  text-align: center;
  margin: 0 1em;
  border: 5px solid transparent;
  box-shadow: 0px 0px 10px 0px transparent;
  animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0px 0px 20px 0px rgba(45, 93, 238, 0.5);
    border-color: rgba(45, 93, 238, 0.5);
  }
  100% {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
  }
}
.card img {
  width: 100%;
  border-radius: 12px;
}
.text {
  padding: 22px 10px;
}
.text h2 {
  color: hsl(218, 44%, 22%);
  padding-bottom: 15px;
}
.text p {
  color: hsl(220, 15%, 55%);
}
