<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Challenge</title>
    <link
      rel="stylesheet"
      href="/Front-end Challenge/code/template/Style/challengeQR/challengeQR.css"
    />
    <link
      rel="shortcut icon"
      href="/assets/images/challengeQR/favicon-32x32.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <img
          src="/Front-end Challenge/assets/images/challengeQR/image-qr-code.png"
          alt="image"
        />
        <div class="text">
          <h2 id="title">Improve your front-end skills by building projects</h2>
          <p id="subtitle">
            Scan the QR code to visit Frontend Mentor and take your coding
            skills to the next level
          </p>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="/Front-end Challenge/code/template/JS/challengeQR/challengeQR.js"></script>
  </body>
</html>
