<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/Front-end Challenge/assets/images/four_card_feature/favicon-32x32.png"
    />

    <title>Frontend Mentor | Four card feature section</title>
    <link rel="stylesheet" href="/Front-end Challenge/code/template/Style/four_card_feature/style.css" />
  </head>
  <body>
    <main>
      <article>
        <h1><span>Reliable, efficient delivery</span> Powered by Technology</h1>
        <p>
          Our Artificial Intelligence powered tools use millions of project data
          points to ensure that your project is successful
        </p>
      </article>

      <div class="cards">
        <article>
          <h2>Supervisor</h2>
          <p>Monitors activity to identify project roadblocks</p>
          <img
            src="/Front-end Challenge/assets/images/four_card_feature/icon-supervisor.svg"
            alt=""
          />
        </article>

        <article>
          <h2>Team Builder</h2>
          <p>
            Scans our talent network to create the optimal team for your project
          </p>
          <img
            src="/Front-end Challenge/assets/images/four_card_feature/icon-team-builder.svg"
            alt=""
          />
        </article>

        <article>
          <h2>Karma</h2>
          <p>Regularly evaluates our talent to ensure quality</p>
          <img
            src="/Front-end Challenge/assets/images/four_card_feature/icon-karma.svg"
            alt=""
          />
        </article>

        <article>
          <h2>Calculator</h2>
          <p>
            Uses data from past projects to provide better delivery estimates
          </p>
          <img
            src="/Front-end Challenge/assets/images/four_card_feature/icon-calculator.svg"
            alt=""
          />
        </article>
      </div>
    </main>
  </body>
</html>
