@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Manrope&display=swap");

/* Primary */
:root {
  /* root viene usato per dichiarare variabili globali all'interno del css */
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  /* Neutral */

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Dark-Blue);
}
.advice-card {
  width: 500px;
  background-color: var(--Dark-Grayish-Blue);
  border-radius: 1rem;
  /* relative posiziona l'immagine seguendo il flusso del documento,
  mentre absolute viene posizionato rispetto al suo primo genitore posizionato.
  L'elemento absolute viene rimosso dal flusso del documento e gli altri elementi
  non tengono conto dello spazio occupato da esso*/
  position: relative;
}
.card-container {
  padding: 2rem 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  /* La proprietà CSS gap viene utilizzata per specificare lo spazio tra le 
  celle di un grid container o tra gli elementi di un flex container */
}
p {
  color: var(--Neon-Green);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 12px;
}
h2 {
  color: var(--Light-Cyan);
  font-size: 28px;
}
picture img {
  margin-bottom: 1rem;
}
button {
  position: absolute;
  bottom: -30px;
  background-color: var(--Neon-Green);
  border: none;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  filter: drop-shadow(0 0 0.75rem hs1(150, 100%, 66%));
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 500px) {
  .advice-card {
    width: 350px;
  }
}
