@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

$Dark-Gray: hsl(0, 0%, 63%);
$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
$Very-Dark-Gray: hsl(0, 0%, 27%);

@mixin m-q($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Spartan", sans-serif;
  font-size: 1.2rem;
  background: $White;
  transition: 0.3s;

  &.dark {
    background: rgba(127, 127, 127, 0.5);
  }
}
