<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Various exercise JS</title>
  </head>
  <body onload="animate_string('target')">
    <h3>You should open the console with F12 to see the result of the exercises</h3>
    <p>Print the area of a triangle with side (5,7,6)</p>
    <hr>
    <button onclick="triangle_area()">Area</button>
    <br />
    <hr>
  </p> 
  <button onclick="sundayFirstJanuary()">1st January</button>
  <hr>
  <pre id="target">Animated string</pre>
  <hr>
  <button onclick="guessNumber()">Guess Number</button>
  <br>
  <br>
  <hr>
  <button onclick="avvento()">Days before Xmas</button>
  <br>  
  <br>
  <hr>
  <style type="text/css">
    body{margin:30px;}
  </style>
  <form>
    1stNumber: <input type="text" id="firstNumber"/><br>
    2ndNumber: <input type="text" id="secondNumber"/><br>
    <input type="button" onclick="multiplyBy()"Value="Multiply"/>
    <input type="button" onclick="divideBy()"Value="Divide"/>
  </form>
  <p>The result is: <br>
  <span id="result"></span>
  </p>
  <hr>
  <button onclick="getLoadPage()">Get URL of this page</button>
  <hr>
  <button onclick="exercise13()">Exercise 13</button>
  <hr>
  <button onclick="getExtension()">Get Extension</button>
  <hr>
  <form>
    <h4>Sum of two number, if they have the same value the result will be that number *3</h4>
    1stNumber: <input type="text" id="numb1"/><br>
    2ndNumber: <input type="text" id="numb2"/><br>
    <input type="button" onclick="sum()"Value="Sum"/>
    <input type="button" onclick="sub()"Value="Sub">
  </form>
  <p>The result is: <br>
    <span id="Result"></span>
<h4>Retrieve the sign of numbers</h4>
    1stNumber: <input type="text" id="numb1"/><br>
    <input type="button" onclick="sign()"Value="Sign">
    <p>Result: <span id="Result2"></span></p>
  <script src="/code/template/JS/exercise.js"></script>
  
</body>
</html>
