<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML CSS Exercise W3School</title>
    <link rel="stylesheet" href="./Style/simulation.css" />
  </head>
  <body>
    <pre>
    a. Download a file when clicking on the link. Sample file name and path :
    www.w3resource.com/images/w3resourcelogo.gif</pre
    >
    <a href="www.w3resource.com/images/w3resourcelogo.gif" download
      >Exercise 1</a
    >
    <pre>
    b. How to create a hyperlink to take you to another part of the same HTML document?
    </pre>
    <a href="#bottom">Go to bottom</a>
    <hr />
    c. How to author an abbreviation or an acronymn
    <hr />
    <abbr title="Longimirant Lucubre Lucis">LLL</abbr>
    <hr />
    <pre>    d. How to put correct address in HTML document
    <address>Address: Via Etna 39 <br />
    Randazzo, CT</address>
    e.
</pre>
    <br />
    <a href="#top" id="bottom">To the top</a>
    <script src="/code/template/JS/htmlcssEX.js"></script>
  </body>
</html>
