<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge Advice</title>
    <link
      rel="stylesheet"
      href="/Front-end Challenge/code/template/Style/challengeAdvice/advice.css"
    />
    <link
      rel="shortcut icon"
      href="/Front-end Challenge/assets/images/challengeAdvice/favicon-32x32.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <script src="/Front-end Challenge/code/template/JS/challengeAdvice/advice.js"></script>
  </body>
</html>
